
@import '../constants';

.navbar___theme__other{
  position: fixed;
  top: 0;
  left: 0;
  width: $NAVIGATION_WIDTH;
  height: 100vh;
  background-color: $BACKGROUND_GREEN_MENU_COLOR;
  color: $MENU_COLOR;
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: 10000;
}