.logsPanel {
	padding: 8px;
	font-family: 'Open Sans';
}

.logsPanelContainer:not(:last-child){
	margin-bottom: 10px;
}

.logsPanelHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
}

.logsPanelTitle {
	margin: 0 0 5px;
	color: #888888;
}

.deleteLogsButton {
	position: absolute;
	right: 0;
	border: none;
	background: none;
	color: #91b9dd;
	font-size: 20px;
	cursor: pointer;
}

.testConnectionTitle {
	opacity: 1 !important;
	padding: 15px 14.3px !important;
	right: 0;
	border-right: none;
	span {
		&:first-child {
			transform: scale(2);
		}
		&:last-child {
			font-weight: unset;
			font-size: 20px;
		}
	}

	&:disabled span:last-child {
		color: #fff;
	}
}
