.methodTrace {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.methodTraceLeftSide,
.methodTraceRightSide {
	display: flex;
	align-items: center;
	justify-content: end;
}
.methodTraceRightSide {
	gap: 5px;
	cursor: text;
	padding-right: 5px;
}

.methodType {
	font-weight: bold;
	width: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
}

.methodUrl {
	text-decoration: underline;
	margin-left: 10px;
	color: #424242;
}

.methodStatus {
	padding: 1px 3px;
	background: #008b00;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	position: relative;
	border-radius: 4px;
	font-size: 12px;
}

.methodTime {
}

.requestResponseContainer {
	display: flex;
}

.methodRequest {
	width: 50%;
}

.methodResponse {
	width: 50%;
}

.nav {
	border: none;
	margin: 10px 0 10px;
}

.navLink {
	cursor: pointer;
	border: 1px solid #424242 !important;
	border-radius: 0 !important;
	width: 150px;
	padding: 3px 0;
	text-align: center;
	background: #fff !important;
	color: #424242 !important;
	margin-left: -1px;
}

.navLink:global(.active) {
	background: #dae8fc !important;
}

.aceEditor {
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
}
