HELP.md
.gradle
build/
logs/
support-files/
runtime/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
#!**/src/test/**
src/main/resources/templates/**
assistant/temporary
assistant/versions
src/main/resources/application.yml
src/main/resources/upload-dir
runtime/

# invoker folder
## ignore everything in the invoker folder
src/main/resources/invoker/**
## but not readme.txt
!src/main/resources/invoker/
!src/main/resources/invoker/README.md

src/main/resources/support-files/**
src/main/resources/logs/**
src/main/resources/updating-backup
src/main/resources/backup
#src/test/
#src/test/java/com/becon/opencelium/backend/ApplicationTests.java
#!src/test/OCELTest.java
#!src/test/OCELFunctionsTest.java
#!src/test/ValidationTest.java
#!src/test/EvaluationTest.java
.DS_Store

### CLAUDE ###
CLAUDE.md
.claude
docs/SERVICE_TEST_COVERAGE.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/support-files/
