@import '../../constants';

.convert_all{
  position: absolute;
  bottom: 0;
  left: 130px;
}
.template_list_conversion{
  display: flex;
  float: right;
  .loading{
    margin-right: 5px;
    width: 24px;
    height: 24px;
    vertical-align: baseline;
  }
}

.export{
  cursor: pointer;
  float: right;
}
.export_loading{
  margin: 0 7px 0 0;
  float: right;
  min-height: 0;
  >div{
    width: 20px;
    height: 20px;
  }
}