@import "../constants";
.buttons_panel{
  margin: 20px 0;
  display: flex;
  >:not(:last-child){
    margin-right: 10px;
  }
}

.form_component{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;
  column-gap: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@media screen and (max-width: 756px) {
  .form_component{
    grid-template: none;
  }
}
.form{
  @extend .card_style;
  padding: 50px 20px 10px 0;
  margin: 20px 0 0;
  position: relative;
  .form_section_header{
    top: -20px;
    left: 10px;
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    background-color: $TURQUOISE_COLOR;
    >span{
      color: white;
      font-size: 14px;
      font-weight: 600;
      font-family: $FONT_FAMILY;
      text-transform: uppercase;
    }
  }
}

.subform{
  display: grid;
  grid-template-columns: 100%;
  row-gap: 40px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  >div{
    @extend .form;
  }
  >:nth-child(2){
    margin: 0;
  }
}

.action_button_loading{
  width: 24px;
  height: 18px;
  >div {
    color: white !important;
    width: 15px;
    height: 15px;
  }
}