@import "../constants";
.buttons_panel{
  margin: 20px 0;
  display: flex;
  >:not(:last-child){
    margin-right: 10px;
  }
}

.form_component{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;
  column-gap: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@media screen and (max-width: 756px) {
  .form_component{
    grid-template: none;
  }
}
.form{
  @extend .card_style;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 50px 20px 10px 0;
  margin: 20px 0 0;
  position: relative;
  .form_section_header{
    z-index: 100;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    top: -20px;
    left: 10px;
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    background-color: $TURQUOISE_COLOR;
    >span{
      color: white;
      font-size: 14px;
      font-weight: 600;
      font-family: $FONT_FAMILY;
      text-transform: uppercase;
    }
  }
}

.full_screen{
  min-height: auto !important;
  top: -33px;
  left: -16px;
  width: calc(100% + 33px);
  border: none;
  box-shadow: none;
  border-radius: 0;
  position: absolute;
  z-index: 1000;
  margin: 0;
  .form_section_header{
    top: 4px !important;
  }
}
.form_section_icons{
  position: absolute;
  top: 23px;
  z-index: 100;
  right: 1px;
  background: white;
  >:nth-child(n){
    border: 1px solid #eee;
    height: 22px;
    button{
      width: 20px;
      >span{
        vertical-align: middle;
      }
    }
  }
}
.full_screen_icon{
}

.minimized_form{
  height: 20px;
  overflow: hidden;
  .form_section_header{
    top: 4px !important;
  }
}

.subform{
  display: grid;
  grid-template-columns: 100%;
  row-gap: 40px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  >div{
    @extend .form;
  }
  >:nth-child(2){
    margin: 0;
  }
}

.action_button_loading{
  width: 24px;
  height: 18px;
  >div {
    color: white !important;
    width: 15px;
    height: 15px;
  }
}