@import '../../constants';

.updates_table{
  margin-top: 20px;
  .radio_input{
    margin: 0 !important;
  }
  .radio_label{
    margin: 0 !important;
  }
  .disable_version_entry{
    background: #d7c9c92e;
    color: #a28e8e;
  }
}

@media screen and (min-width: 992px) {
  .offline_button{
    width: 100px;
    padding: 15px 10px;
    font-size: $FONT_SIZE_MEDIUM;
  }
  .online_button{
    width: 100px;
    margin-right: 110px;
    padding: 15px 10px;
    font-size: $FONT_SIZE_MEDIUM;
  }
  .available_updates_loading{
    margin-top: 50px !important;
    margin-bottom: 10px !important;
    min-height: 78px !important;
  }

  .available_updates_loading>div{
    width: 38px;
    height: 38px;
  }
}
@media screen and (max-width: 991px) {
  .offline_button{
    width: 80px;
    padding: 15px 6px;
    font-size: $FONT_SIZE_SMALL;
  }
  .online_button{
    width: 80px;
    margin-right: 10px;
    padding: 15px 16px;
    font-size: $FONT_SIZE_SMALL;
  }
  .available_updates_loading{
    margin-top: 50px !important;
    margin-bottom: 10px !important;
    min-height: 78px !important;
  }

  .available_updates_loading>div{
    width: 38px;
    height: 38px;
  }
}