.trace {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.type {
	font-weight: bold;
	width: 60px;
	text-align: center;
	text-transform: uppercase;
}
.traceLeftSide {
	display: flex;
}
.ifTraceRightSide {
	margin-left: 8px;
	cursor: text;
	padding-right: 5px;
}
.loopTraceRightSide {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: text;
}
.expandedContainer {
	margin-top: 4px;
	border-left: 1px dashed #aaa;
	padding-left: 8px;
}

.iterator {
	margin-left: -5px;
	margin-top: 0px;
	font-size: 14px;
	align-content: flex-end;
}
