.methods_form{
  grid-column-start: 1;
  /* autoprefixer: off */
  grid-column-end: 3;
  grid-row-start: 2;
  /* autoprefixer: off */
  grid-row-end: 3;
  height: auto;
  box-shadow: none !important;
  margin-bottom: 100px;
}

.direction_form{
  grid-column-start: 1;
  /* autoprefixer: off */
  grid-column-end: 3;
  grid-row-start: 1;
  /* autoprefixer: off */
  grid-row-end: 2;
}
.switch_view_icon{
}