@import "../../constants";

.connection_editor{
  height: calc(100vh - 71px);
  padding-bottom: 50px;
}

.replace_icon{
  cursor: pointer;
  height: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.business_layout {
  width: 100%;
  height: 100%;
}
.technical_layout{
  width: 100%;
  height: 100%;
}
.layout_svg {
  cursor: move;
  padding: 2px;
}
.operator_polygon{
  cursor: move;
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
}
.process{
  text{
    pointer-events: none;
    font-size: $FONT_SIZE_MEDIUM;
  }
}
.operator{
  text{
    pointer-events: none;
    font-size: $FONT_SIZE_SMALL;
  }
}
.current_process{
  rect {
    fill: #e2e2e2;
  }
}
.current_operator{
  polygon {
    fill: #e2e2e2;
  }
}
.process_rect{
  cursor: move;
  fill: #fff;
  stroke: #000;
  //stroke: #00000021;
  stroke-width: 2;
}
.process_rect_draggable{
  cursor: grab;
}
.process_rect_draggable:active{
  cursor: grabbing;
}
.process_label{
  font-family: $FONT_FAMILY;
}
.if_operator{
  text{
    pointer-events: none;
  }
}
.if_operator_rect{
  @extend .process_rect;
  text{
    pointer-events: none;
  }
  transform: rotate(45deg);
  transform-origin: center center;
}

.details{
  padding: 10px;
  .title{
    font-size: 32px;
  }
  .label{
    font-size: 14px;
    text-align: left;
  }
  .position_icon{
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .position_icon_left{
    @extend .position_icon;
    right: 0;
  }
  .position_icon_right{
    @extend .position_icon;
    left: 0;
  }
}